include ../mixins/signup.pug

doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || 'App'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    //- CSS
    link(href="https://fonts.googleapis.com/css?family=Indie+Flower|Spectral+SC", rel="stylesheet")
    //- add all stylesheets needed for page
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    //- link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css", rel="stylesheet", type="text/css" )
    link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css", rel="stylesheet", type="text/css" )
    link(href="/css/styles.css", rel="stylesheet", type="text/css" )

    //- [if lt IE 9]
      script(src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
      script(src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
    //-[endif]

    //- Include template-specific stylesheets by extending the css block
    block css


    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body
    //- HEADER
    header
      nav: .nav-wrapper.space
        a.sidenav-trigger(href="#", data-target="mobile-demo"): i.fa.fa-bars.material-icons
        a.brand-logo(href="#!") Logo
        ul.right.hide-on-med-and-down
          li: a(href="/") Home
          li: a(href="/about") About
          li: a(href="/game") Game
          if !user
            li: a(href="/login") Log In
            li: a(href="/signup") Sign Up
          else
            li: a(href="/profile") Profile
            li: a(href="/logout") Log Out
      ul#mobile-demo.sidenav
        li: a.space(href="/") Home
        li: a.space(href="/about") About
        li: a.space(href="/game") Game
        if !user
          li: a.space(href="/login") Log In
          li: a.space(href="/signup") Sign Up
        else
          li: a.space(href="/profile") Profile
          li: a.space(href="/logout") Log Out
      div
        each messageSection, name in messages
          if messageSection.length
            each message in messageSection
              div.message( class=name )= message

    //- BODY
    main
      block intro

      block body

    //- FOOTER
    footer
    #overlay

    //- JAVASCRIPT
    //- Include template-specific javascript files by extending the js block
    script(type='application/javascript', src='/js/underscore/underscore-min.js')
    script(type='application/javascript', src='/js/jquery/jquery.min.js')
    script(type='application/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')

    block js

    script(type='application/javascript', src='/js/app.js')
