extends ../../layouts/default.pug

block head
  script.
    const game_id = '#{ game._id }';
    const team = '#{ team }';

block body
  .row
    .col.s3
      h2 Team: #{ team }
      h2
        |turn:
        span#turnDisplay white
    .col.s9: #board
      section.chess-row
        #a1.chess-square
          span.chess-piece.castle.white(data-hasMoved='false')
        #b1.chess-square
          span.chess-piece.horse.white(data-hasMoved='false')
        #c1.chess-square
          span.chess-piece.bishop.white(data-hasMoved='false')
        #d1.chess-square
          span.chess-piece.king.white(data-hasMoved='false')
        #e1.chess-square
          span.chess-piece.queen.white(data-hasMoved='false')
        #f1.chess-square
          span.chess-piece.bishop.white(data-hasMoved='false')
        #g1.chess-square
          span.chess-piece.horse.white(data-hasMoved='false')
        #h1.chess-square
          span.chess-piece.castle.white(data-hasMoved='false')
      section.chess-row
        #a2.chess-square
          span.chess-piece.pawn.white(data-hasMoved='false')
        #b2.chess-square
          span.chess-piece.pawn.white(data-hasMoved='false')
        #c2.chess-square
          span.chess-piece.pawn.white(data-hasMoved='false')
        #d2.chess-square
          span.chess-piece.pawn.white(data-hasMoved='false')
        #e2.chess-square
          span.chess-piece.pawn.white(data-hasMoved='false')
        #f2.chess-square
          span.chess-piece.pawn.white(data-hasMoved='false')
        #g2.chess-square
          span.chess-piece.pawn.white(data-hasMoved='false')
        #h2.chess-square
          span.chess-piece.pawn.white(data-hasMoved='false')
      section.chess-row
        #a3.chess-square
        #b3.chess-square
        #c3.chess-square
        #d3.chess-square
        #e3.chess-square
        #f3.chess-square
        #g3.chess-square
        #h3.chess-square
      section.chess-row
        #a4.chess-square
        #b4.chess-square
        #c4.chess-square
        #d4.chess-square
        #e4.chess-square
        #f4.chess-square
        #g4.chess-square
        #h4.chess-square
      section.chess-row
        #a5.chess-square
        #b5.chess-square
        #c5.chess-square
        #d5.chess-square
        #e5.chess-square
        #f5.chess-square
        #g5.chess-square
        #h5.chess-square
      section.chess-row
        #a6.chess-square
        #b6.chess-square
        #c6.chess-square
        #d6.chess-square
        #e6.chess-square
        #f6.chess-square
        #g6.chess-square
        #h6.chess-square
      section.chess-row
        #a7.chess-square
          span.chess-piece.pawn.black(data-hasMoved='false')
        #b7.chess-square
          span.chess-piece.pawn.black(data-hasMoved='false')
        #c7.chess-square
          span.chess-piece.pawn.black(data-hasMoved='false')
        #d7.chess-square
          span.chess-piece.pawn.black(data-hasMoved='false')
        #e7.chess-square
          span.chess-piece.pawn.black(data-hasMoved='false')
        #f7.chess-square
          span.chess-piece.pawn.black(data-hasMoved='false')
        #g7.chess-square
          span.chess-piece.pawn.black(data-hasMoved='false')
        #h7.chess-square
          span.chess-piece.pawn.black(data-hasMoved='false')
      section.chess-row
        #a8.chess-square
          span.chess-piece.castle.black(data-hasMoved='false')
        #b8.chess-square
          span.chess-piece.horse.black(data-hasMoved='false')
        #c8.chess-square
          span.chess-piece.bishop.black(data-hasMoved='false')
        #d8.chess-square
          span.chess-piece.queen.black(data-hasMoved='false')
        #e8.chess-square
          span.chess-piece.king.black(data-hasMoved='false')
        #f8.chess-square
          span.chess-piece.bishop.black(data-hasMoved='false')
        #g8.chess-square
          span.chess-piece.horse.black(data-hasMoved='false')
        #h8.chess-square
          span.chess-piece.castle.black(data-hasMoved='false')
  #boardInfo.modal.modal-fixed-footer
    .valign-wrapper.full-height.center-align
      #loading.full: div
        div.section: i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
        h3 Waiting for player...
      #gameover.full
        h2 Game Over
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/game') Go to Game Center
    //- .modal-footer

block js
  script( src='/socket.io/socket.io.js' )
  script( type='application/javascript', src='/js/chess-lib.new.js')
