extends ../../layouts/default.pug

block body
  h1 hello world

//- block js
//-   script(type='application/javascript', src='/socket.io/socket.io.js')
//-   script(type='application/javascript', src='js/app.js')
