extends ../layouts/default.pug

block body
  .parallax-container.intro.white-text.valign-wrapper
    .parallax
      img(src='http://img03.deviantart.net/9fa7/i/2005/115/3/4/dark_chess_game_by_maido.jpg')
    .row.full.valign-wrapper
      - var classes = user ? ['s12', 'm12'] : [ 's12', 'm12', 'l6' ];
      .col.center-align(class=classes)
        h1 Welcome to Chess Pro
        p.flow-text Do you have what it takes to reach the top?
      if !user
        .col(class=classes)
          div.container.box.hide-on-med-and-down
            h2.flow-text Sign up and play today
            +signup-form
          div.show-on-medium-and-down.hide-on-med-and-up.center-align
            a.btn(href="/signup") Sign Up Now
  .section.white
    .row.container

